<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.Engine" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportSource" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.Shared" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.WPF.Viewer" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.WPF.ViewerShared" version="13.0.3501" targetFramework="net461" />
  <package id="CsvHelper" version="19.0.0" targetFramework="net461" />
  <package id="Dapper" version="2.0.30" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Data.SqlClient" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Data.SqlClient.SNI" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Identity.Client" version="3.0.8" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.5.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.5.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.5.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.5.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.5.0" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="10.0.0.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="150.37051.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="160.2004021.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="RDLCPrinter" version="1.2.0" targetFramework="net461" />
  <package id="SimpleReports" version="1.0.0.8" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>