<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BizBook.Properties.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NavigationDrawerPopUpMenu2.Properties.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NavigationDrawerPopUpMenu2.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 <connectionStrings>
    <add name="BizBook" connectionString="Server=DESKTOP-Q61CFGE;Database=MajeedPlasticIndustry;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- <connectionStrings>
    <add name="BizBook" connectionString="Data Source=5.189.150.186;Initial Catalog=logichou_pos;Integrated Security=False;User ID=logichouse_admin;Password=Q1w2p0o9i8@;MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings> -->
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <BizBook.Properties.Configuration>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Liscence_key" serializeAs="String">
        <value />
      </setting>
      <setting name="Owner_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Telephone" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessMode" serializeAs="String">
        <value>False</value>
      </setting>
    </BizBook.Properties.Configuration>
    <NavigationDrawerPopUpMenu2.Properties.Configuration>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Liscence_key" serializeAs="String">
        <value />
      </setting>
      <setting name="Owner_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Telephone" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
    </NavigationDrawerPopUpMenu2.Properties.Configuration>
    <NavigationDrawerPopUpMenu2.Configuration>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Owner" serializeAs="String">
        <value />
      </setting>
      <setting name="Telephone" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="Liscence_Key" serializeAs="String">
        <value />
      </setting>
    </NavigationDrawerPopUpMenu2.Configuration>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.100.0.0" newVersion="16.100.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>